# Clases compiladas
*.class

# Gitignore for Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Gitignore for NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/CRUDs/CRUDs_SI_prog/crudArrayList/JavaApplication1/nbproject/private/